@import url('https://fonts.googleapis.com/css?family=Montserrat:100,500,700,800,900&display=swap');

:root{
    --primery-color:#359ad7;
    --secondary-color:#000;
    --light-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    background:  url(../img/window_cleaner.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

/*---------- utilities styling ----------*/
.padding-wrapper{
 padding: 7% 15%;
}
/* ---------------main container styling---------*/

.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 7%;
}

/*-----------header section styling ---------------*/

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10rem;
    width: 100%;
    height: 100%;
    color: var(--light-color);
}

.header .header-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header h3{
    align-content: flex-end;
    align-self: end;
    font-size: 1.5rem;
    font-weight: 500;
    background: var(--primery-color);
    padding: 0.3rem;
}
.header h2{
    font-size: 2rem;
    font-weight: 500;
    position: relative;
   
    animation: example 3s steps(15);
    animation-iteration-count: infinite;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #fff;
    
    
}

.header h1{
    font-size: 5rem;
    color: var(--primery-color);
    margin-left: -5px;
   
}


/*--------- caption section styling---------*/

.profile{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
    z-index: 1;
    line-height: 1.5;
    height: 10rem;
}
 
.profile::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: 0.7; 
    z-index: -1;
    background: var(--secondary-color);
  }

.profile .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15%;
    text-transform: uppercase;
}


.profile h1{
    color: var(--light-color);
    font-weight: 700;
    border-left: 5px solid var(--primery-color);
    padding-left: 10px;
}

.profile .contact-info{
    margin: 0.5rem 0;
}
.profile .contact-info .info-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content:space-evenly ;
    padding: 0 10%;
    border-left: 1px solid #5B616A;
}

.profile .contact-info h3{
    color: var(--light-color);
    font-size: 1.5rem;
    text-transform: capitalize;
}

/*------ open hours styling -------*/
.open-hours{
    text-align: center;
    padding: 0.5rem;
    position: relative;
    z-index: 1;
}

.open-hours::before{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: 0.6; 
    z-index: -1;
    background: var(--light-color);
}

.open-hours p{
    letter-spacing: 0.5rem;
}



/*----------- animation styling -------------*/
@keyframes example {
   0%{
       width: 0ch;
   }
   100%{
       width: 15ch;
   }
  }

/*-------------- media quaries ------------------------------*/  
@media (max-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    html{
        font-size: 12px;
    }
}


@media (max-width:801px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    html{
        font-size: 8px;
    }
}
@media (max-width:600px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    html{
        font-size: 8px;
    }
 
}

@media (max-width:480px)  { 
    /* smartphones, Android phones, landscape iPhone */ 
    html{
        font-size: 8px;
    }
    .profile{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        height: 20rem;
    }
    .profile .contact-info .info-wrapper{
        align-items: center;
    }

    .profile h1{
        border-left: 0;
        padding-left: 10px;
        border-bottom: 1px solid var(--primery-color);
        text-align: center;
    }

    .creek{
        color: var(--light-color);
    }
}

@media (max-width:320px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .profile{
        height: 20rem;
    }

    .profile .contact-info{
        margin: 0;
    }

    .header h3{
        font-size: 2rem;
    }
    .header h2{
        font-size: 2.5rem;  
    }
    
    .header h1{
        font-size: 8rem; 
    }
}



